@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto+Slab&display=swap');

body{
    font-family: 'Poppins',sans-serif;
}
 :root {
    --primary-text-color: #C6BF0D;
    /* --secondary-text-color: #0091ff; */
 }
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins',sans-serif;
}
.flex{
    display: flex;
    align-items: center;
 
  } 
.hero{
    position: relative;
    overflow-y: hidden;
    width: 100%;
    height: 100vh;
    background: rgb(255, 255, 255);
}
.logo{
    height: 115px;
}

.nav{  
   margin: auto; 
   width: 84%;

   padding: 20px 0px;
   justify-content: space-between;
}
.hover-link {
    
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 600;
    
}
.active{
    text-decoration: underline;
    color: var(--primary-text-color);
 }
 
.nav :hover{
    
    color: #C6BF0D;
    transition:  0.1s ease-out;
}

.nav li{
    display: inline-block;
    list-style: none;
    margin:  0px 25px;
}

.active{
    padding:  5px 15px;
    color: rgb(255, 255, 255);
    background-color:  var(--primary-text-color);
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0 5px rgb(0, 0, 0);
    border-radius: 5px;
    text-decoration: none;
 }

 .container{
    border: 1px solid  rgb(255, 255, 255);
    margin-top: auto;
    height: 73%;
    width: 85%;
    font-weight: 700;
    border-radius: 8px;
    margin: auto;
    box-shadow: 0 0 5px rgb(0, 0, 0);
}
.collage {
    margin-left: 100px;
    margin-top: 70px;
}
.container p{
    padding: 10px;
}
.ssc {
    margin-left: 100px;
    margin-top: 70px;  
}
.container .year{
    margin-bottom: 100px;

}
.container a{
    padding: 6px;
    font-size: 12px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    text-decoration: none;
}

.container a:hover{
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 8px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}
